<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="src/app/login/login.page.scss">
  <figure class="text-center" class="figura">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="loginuser(loginForm.value)">
    <ion-item color="white">
      <ion-input label="Email" labelPlacement="floating" placeholder="example@email.com" formControlName="email"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger" 
        *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)" >
        {{ error.message}}
        </ion-label>
      </ng-container>
    </div>
    <ion-item color="white">
      <ion-input type="password" label="Contraseña" placeholder="minimo 6 caracteres" formControlName="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of formErrors.password">
        <ion-label color="danger" 
        *ngIf="(loginForm.get('password')?.hasError(error.type) && loginForm.get('password')?.dirty)">
        {{ errorMessage }}
        </ion-label>
      </ng-container>
    </div>
    <p></p>
    <p></p>
    <ion-button
      type="submit"
      [disabled]="!loginForm.valid"
      expand="block"
      class="boton-naranja"
      >Ingresar
    </ion-button>
  </form> 
  <p></p>
  <p></p>
  <ion-button (click)="finish()" expand="block"  class="boton-naranja">Registro</ion-button>
  <p>{{errorMessage}}</p>
</ion-content>
<footer class="app-footer">
  <p>RecetApp</p>
</footer>
