swiper-container {
  width: 100%;
  height: 100%;
}
swiper-slide {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.title1 {
color: rgb(173, 76, 1);
font-size: 1.5rem;
}

.description1 {
color: black;
text-align: center;
font-weight: bold;
}


.bg-color-slide {
background-color: rgb(247, 247, 247);
}

.title2 {
  color: rgb(242, 240, 239);
  font-size: 1rem;
  text-align: center;
  justify-content:center;
  }

.bg-color-slide2 {
  background-color: rgb(239, 109, 3);
  border-width: 10px;
  border-style: solid;
  border-color: rgb(250, 248, 248);
  }

  .bg-color-slide3 {
    background-color: rgb(255, 255, 255);
    }
  .bg-color-slide4 {
    background: linear-gradient(rgb(239, 109, 3), rgb(233, 37, 2));
    }

.close-icon {
position: absolute;
top: 10px;
right: 10px;
font-size: 35px;
color: white;
}