<ion-content>
  <swiper-container
  slides-per-view="1"
  pagination="true"
  >
    <swiper-slide class="bg-color-slide">
      <h1 class="title1">¡Buen provecho!</h1>
      <img src="/assets/imgs/Slide1.png">
      <p class="description1">Explora miles de recetas y comparte tus creaciones con otros amantes de la cocina.</p>
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </swiper-slide>
    <swiper-slide class="bg-color-slide2">
     <h3 class="tittle2">¡RecetAPP: Tu compañero de cocina ideal!</h3>
      <img src="/assets/imgs/Sancocho.jpg">
      <p class="description1">Encuentra la receta perfecta con nuestra búsqueda inteligente.</p>
      <p class="description1">Organiza tus ingredientes y ahorra tiempo.</p>
      <p class="description1">Comparte tus creaciones con amigos y familiares.</p>
      <p class="description1">Crea tu recetario personalizado.</p>
      <p class="description1">Organiza tus comidas con anticipación.</p>
    </swiper-slide>
    <swiper-slide class="bg-color-slide3">
      <img src="/assets/imgs/Slide3.png">
    </swiper-slide>
    <swiper-slide class="bg-color-slide4">
      <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
      <h1>Cocina, comparte, inspira</h1>
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <p>Únete a nuestra comunidad de foodies y descubre un mundo de sabores.<br>
        Comparte tus recetas, comenta las de otros y encuentra inspiración para tus próximas creaciones.<br>
        ¡Inicia sesión ahora y sé parte de la familia!</p>
      <ion-button (click)="finish()">Únete a la comunidad</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>