swiper-container {
  width: 100%;
  height: 100%;
}
swiper-slide {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(240, 141, 3);
}
.title1 {
color: red;
}

.bg-color-slide {
background-color: magenta;
}