swiper-container {
  width: 100%;
  height: 100%;
}
swiper-slide {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(240, 141, 3);
}

.content-home{
  background-color: rgb(240, 141, 3);
}

.user-avatar{
  height: 30px;
  width: 30px;
}

.image-posts{
  margin: 0 auto;
  display: block;
}
