<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container>
    <swiper-slide>
      <h1>Hola Slide 1</h1>
      <p>Hola soy el slide uno de la libreria swiper</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Hola Slide 2</h1>
      <p>Hola soy el slide dos de la libreria swiper</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Hola Slide 3</h1>
      <p>Hola soy el slide tres de la libreria swiper</p>
    </swiper-slide>
  </swiper-container>
</ion-content>
