.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Para que ocupe toda la altura disponible */
    margin-top: 20px;
  }
  
  .center-content {
    text-align: center; /* Centra el texto e imágenes dentro del contenedor */
  }
  
  
  p {
    margin: 5px 0;
    font-size: 16px;
    color: black;
  }
  
  .white-background {
    background-color: #ffffff;
    --ion-background-color: #ffffff; /* Garantiza que las propiedades de Ionic también adopten este color */
    padding: 0;
    margin: 0;
  }

  ion-avatar {
    width: 90px; /* Tamaño del avatar */
    height: 90px;
    margin: 0 auto; /* Centra horizontalmente */
  }