.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Para que ocupe toda la altura disponible */
    margin-top: 20px;
  }
  
  .center-content {
    text-align: center; /* Centra el texto e imágenes dentro del contenedor */
    color:black;
  }
  
  
  p {
    margin: 5px 0;
    font-size: 16px;
    color: black;
  }
  
  .white-background {
    background-color: #ffffff;
    --ion-background-color: #ffffff; /* Garantiza que las propiedades de Ionic también adopten este color */
    padding: 0;
    margin: 0;
  }

  ion-avatar {
    width: 90px; /* Tamaño del avatar */
    height: 90px;
    margin: 0 auto; /* Centra horizontalmente */
  }

  ion-fab-button{
    --background:  rgb(240, 141, 3);
    --color: rgb(250, 250, 250);
    width: 60px; /* Tamaño del botón */
    height: 60px; /* Tamaño del botón */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para efecto elevado */
    border-radius: 50%; /* Asegurar que sea completamente redondo */
  }