<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-title>{{user_data.name}} {{user_data.last_name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="white-background">
  <swiper-container>
    <swiper-slide>
      <div class="profile-container">
        <!-- Contenedor para centrar el contenido -->
        <div class="center-content">
          <ion-avatar (click)="takePhoto()">
            <img [src]="user_data.image ? user_data.image : 'assets/imgs/perfil.png'" />
          </ion-avatar>
          <p></p>
          <p></p>
          <p><strong>Usuario:</strong> {{user_data.username}}</p>
          <p><strong>Seguidores:</strong> {{user_data.followed_users?.length || 0}}</p>
          <p><strong>Siguiendo:</strong> {{user_data.following_users?.length || 0}}</p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>

