<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <!-- Campo Nombre -->
    <ion-item>
      <ion-input label="Nombre" placeholder="Enter text" formControlName="name"></ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.name">
      <ion-label color="danger" 
      *ngIf="(registerForm.get('name')?.hasError(error.type) && registerForm.get('name')?.dirty)">
      {{ error.message }}
      </ion-label>
    </ng-container>

    <!-- Campo Apellido -->
    <ion-item>
      <ion-input label="Apellido" placeholder="Enter text" formControlName="lastname"></ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.lastname">
      <ion-label color="danger" 
      *ngIf="(registerForm.get('lastname')?.hasError(error.type) && registerForm.get('lastname')?.dirty)">
      {{ error.message }}
      </ion-label>
    </ng-container>

    <!-- Campo Email -->
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="example@email.com" formControlName="email"></ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger" 
        *ngIf="(registerForm.get('email')?.hasError(error.type) && registerForm.get('email')?.dirty)" >
        {{ error.message}}
      </ion-label>
    </ng-container>
    
    <!-- Campo Nombre de Usuario -->
    <ion-item>
      <ion-input label="Nombre de usuario" placeholder="Enter text" formControlName="username"></ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.username">
      <ion-label color="danger" 
      *ngIf="(registerForm.get('username')?.hasError(error.type) && registerForm.get('username')?.dirty)">
      {{ error.message }}
      </ion-label>
    </ng-container>

     <!-- Campo Contraseña -->
    <ion-item>
      <ion-input type="password" label="Contraseña" placeholder="" formControlName="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.password">
      <ion-label color="danger" 
        *ngIf="registerForm.get('password')?.hasError(error.type) && registerForm.get('password')?.dirty  ">
        {{ error.message }}
      </ion-label>
    </ng-container>

    <!-- Campo Confirmar Contraseña -->
    <ion-item>
      <ion-input type="confirm_password" label="Confirmar Contraseña" placeholder="" formControlName="confirm_password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.confirm_password">
      <ion-label color="danger"
        *ngIf="registerForm.get('confirm_password')?.hasError(error.type) && 
               (registerForm.get('confirm_password')?.dirty || registerForm.get('confirm_password')?.touched)">
        {{ error.message }}
      </ion-label>
    </ng-container>
    <p></p>
    <p></p>

    <!-- Botón de Registro -->
    <ion-button
      type="submit"
      [disabled]="!registerForm.valid"
      expand="block"
      >Registro
    </ion-button>
  </form>
  
</ion-content>
